@import "tailwindcss";
@import "prismjs/themes/prism-tomorrow.css";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-background: #ffffff;
    --color-foreground: #111111;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

input,
button,
select,
textarea,
a {
    outline: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
}
